body {
  height: 100vh;
  width: 100vw;
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%; */
}

.Comparison {
  display: flex;
  flex-direction: row;
}

.stay {
  display: flex;
  width: 50vw;
  height: 100vh;
  color: #4B2929;
  background-color: #E3D8DA;
  text-align: right;
}

.go {
  display: flex;
  width: 50vw;
  height: 100vh;
  color: #213925;
  background-color: #D9DFDD;
  text-align: right;
}
