body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 95%;
}

.Comparison {
  /* display: flex; */
  display: grid;
  /* display: flex;
  flex-direction: row; */
}

.stay {
  /* display: flex; */
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  width: 50vw;
  height: 100vh;
  color: #4B2929;
  background-color: #E3D8DA;
  text-align: right;
}

.go {
  /* display: flex; */
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  width: 50vw;
  height: 100vh;
  color: #213925;
  background-color: #D9DFDD;
  text-align: right;
}

.result {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

#stay {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-align: center;
}

#go {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: center;
}
