body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  text-align: center;
}

h1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
}

input {
  /* display: flex; */
  /* flex-direction: column; */
  width: 40%;
  height: 55px;
  margin: 55px auto;
  font-size: 15px;
  font-family: filson-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

button {
  width: 200px;
  height: 100px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.Results {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}