.Results {
  background-color: #E1E2E5;
  border: solid 1px #224C8B;
  width: 400px;
  height: 200px;
  margin: 55px;
}

h2{
  margin: 20px;
  text-align: left;
}

p {
  margin: 20px;
  text-align: left;
}